h1 {
    margin: 10px
}

.news {
    display: flex;
    width: 850px;
    border: 1px solid;
    margin: 10px;
    flex-wrap: wrap;
    border-radius: 20px;
}

.news__decoration {
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    align-content: space-around;
    flex-wrap: wrap;
    width: 400px;
}

