.flex-container {
    border: 1px solid red;
    width: 400px;
    height: 100px;
    margin: 10px;
}

.flex-container__block {
    display: flex;
    display: -webkit-flex;
    border: 1px solid blue;
}

.flex-container__block_1 {
    border: 1px solid yellow;
    background-color: teal;
}

.flex-container__block_2 {
    border: 1px solid;
    background-color: slateblue;
}

.flex-container__block_3 {
    background-color: skyblue;
    border: 1px solid white;
}
/*в первом генерирует flex-контейнер уровня блока*/
.flex-container__line {
    display: -webkit-inline-flex;
    display: inline-flex;
    border: 1px solid green;
    gap: 5px
}

.flex-container__line_1 {
    background-color: brown;
    border: 1px solid red;
    color: orange;
}

.flex-container__line_2 {
    background-color: green;
    border: 1px solid blue;
}

.flex-container__line_3 {
    background-color: teal;
    border: pink 1px solid;
}

/* во втором варианте сделал из блочных тегов в строчный */

.flex-container__flex-direction_row {
    flex-direction: row;
    display: flex;
    gap: 6px;
}

.flex-container__flex-direction-row_1 {
    border: 1px solid red;
    background-color: pink;
}

.flex-container__flex-direction-row_2 {
    background-color: violet;
    border: 1px solid darkseagreen;
}

.flex-container__flex-direction-row_3 {
    border: 1px solid tan;
    background-color: silver;
}

/* ну значение по умолчанию */
.flex-container__flex-direction-row-reverse {
    flex-direction: row-reverse;
    display: flex;
    align-items: flex-start
}

.flex-container__flex-direction-row-reverse_1 {
    border: 1px solid darkred;
    background-color: salmon;
}

.flex-container__flex-direction-row-reverse_2 {
    background-color: aqua;
    border: crimson 1px solid;
}

.flex-container__flex-direction-row-reverse_3 {
    border: 1px solid chocolate;
    background-color: blueviolet;
}
.flex-container__flex-direction-column {
    display: flex;
    flex-direction: column;
    border: 1px solid magenta;
}

.flex-container__flex-direction-column_1 {
    background-color: crimson;
}

.flex-container__flex-direction-column_2 {
    background-color: cyan;
}

.flex-container__flex-direction-column_3 {
    background-color: deepskyblue;
}
.flex-container__flex-direction-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}
.flex-container__flex-direction-column-reverse_1{
    background-color: lime;
}
.flex-container__flex-direction-column-reverse_2{
    background-color: chartreuse;
}
.flex-container__flex-direction-column-reverse_3{
    background-color: blueviolet;
}

.flex-container__flex-wrap{
    flex-wrap: wrap;
    display: flex;
    gap: 5px
}
.flex-container__flex-wrap-reverse{
    display: flex;
    flex-wrap: wrap-reverse;
}
.flex-flow{
    flex-flow: column-reverse wrap-reverse;
    flex-flow: inherit;
    display: flex;
}
/* flex-flow как я понимаю делает обобщенно */

.order{
    display: flex;
}

.order_item1{
    border: 1px solid blue;
    order: 3;
}

.order_item2{
    border: 1px solid mediumvioletred;
    background-color: cyan;
    order: -1;
}
.style-flex{
    display: flex;
}
.flex_1{
    flex: 1 1
}

.flex-grow{
    display: flex;
}
.grow_1, .grow_2, .grow_3, .grow_6{
    flex-grow: 1;
    border: 1px solid firebrick;
}
.grow_4, .grow_5{
    flex-grow: 2;
    border: 1px solid gold;
}
.flex-shrink{
    display: flex;
    width: 500px;
}
.flex-shrink div{
    width: 200px;
}
.shrink_1{
    flex-shrink: 3;
    border: 1px solid yellow ;
}
.shrink_2{
    flex-shrink: 2;
    border: 1px solid red
}
.shrink_3{
    flex-shrink: 1.5;
    border: 1px solid orange;
}
.shrink_4, .shrink_5{
    flex-shrink: 2.5;
    border: 1px solid silver;
}
.flex-basis{
    display: flex;
    padding: 10px;
    border: 3px solid blueviolet;
    font-size: 14px;
    text-align: center;
    position: relative;
}
.basis_1, .basis_3{
    flex-basis: 3em
}
.basis_2, .basis_4, .basis_5{
    flex-basis: 6em;
}

.justify-content__flex-start{
    display: flex;
    justify-content: flex-start;
}
.justify-content__flex-end{
    display: flex;
    justify-content: flex-end;
}
.justify-content__flex-center{
    display: flex;
    justify-content: center;
}
.justify-content__space-between{
    display: flex;
    justify-content: space-between;
}
.justify-content__space-around{
    display: flex;
    justify-content: space-around;
}

.align-items__stretch{
    display: flex;
    align-items: stretch
}
.align-items__stretch div {
    width: 100px;
    border: 2px solid skyblue;
    border-radius: 5px;
}
.align-items__flex-start{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    width: 400px;
    height: 100px;
    margin: 10px;
}
.align-items__flex-start span{
    border: 1px solid aquamarine;
}
.align-items__flex-end{
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    width: 400px;
    height: 100px;
    margin: 10px;
}
.align-items__flex-end span{
    border:1px solid darkseagreen;
}
.align-items__center{
    align-items: center;
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
    width: 400px;
    height: 100px;
    margin: 10px;
}
.align-items__center span{
    border: 1px solid chartreuse;
}