.item{
    color: magenta;
}

.item.active{
	background: green;
}

.item:hover{
	border: 1px solid red;
	cursor: pointer;
}

head{
    color: aqua;
}
body{
    color: green;
}
p{
    color: pink;
}
li{
    color: brown;
}
a{
    color: darkseagreen;
}
form{
    color: cornflowerblue;
}
input{
    color: lime;
}
button{
    color: salmon;
}