div{
    color: blue;
}
head{
    color: aqua;
}
body{
    color: green;
}
p{
    color: pink;
}
li{
    color: brown;
}
.url{
    color: darkseagreen;
}
.nwy{
    color: cornflowerblue;
}
.exit{
    color: lime;
}
.poke{
    color: salmon;
}